{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
  <title>About Us</title>
{% endblock %}


{% block content %}
    <div class="intro">
        <h1> Movie Recommendation Engine </h1>
        <p> A movie suggestion software based on content filtering. If an user likes a certain movie this sofware suggests
          best 20 movies that the user has a chance of liking given that they liked the movie they enter. <br> This content
          based filtering software takes in account of the director, actors of the movie, genre of the moive and similar story types.
          The database contains Hollywood movies from 1970s to 2020.
        </p>
    </div>
    <div class="member-1">
      <p> Rhithick Murali </p>
      <img src="{{url_for('static', filename='Rhithick .M.jpg')}}">
    </div>
    <div class="member-2">
      <p> Shivam Pradhan </p>
      <img src="{{url_for('static', filename='Shivam Pradhan.jpeg')}}">
    </div>
    <div class="member-3">
      <p> Manav Mohata </p>
      <img src="{{url_for('static', filename='Manav Mohata.jpg')}}">
    </div>
{% endblock %}
