{% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="{{url_for('static', filename='style2.css')}}">
  <title>About Us</title>
{% endblock %}


{% block content %}
    <div class="intro">
        <h1> Movie Recommendation Engine </h1>
        <p> A movie suggestion software based on content filtering. If an user likes a certain movie this sofware suggests
          best 20 movies that the user has a chance of liking given that they liked the movie they enter. <br> This content
          based filtering software takes in account of the director, actors of the movie, genre of the moive and similar story types.
          The database contains Hollywood movies from 1970s to 2020.
        </p>
    </div>

    <!-- Header -->
    <header class="bg-primary text-center py-5 mb-4">
      <div class="container">
        <h1 class="font-weight-light text-white">Meet the Team</h1>
      </div>
    </header>

    <div class="container">
      <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{{url_for('static', filename='Rhithick .M.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Rhithick M</h5>
            </div>
          </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{{url_for('static', filename='Shivam Pradhan.jpeg')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Shivam Pradhan</h5>
            </div>
          </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-0 shadow">
            <img src="{{url_for('static', filename='Manav Mohata.jpg')}}" class="card-img-top" alt="...">
            <div class="card-body text-center">
              <h5 class="card-title mb-0">Manav Mohata</h5>
            </div>
          </div>
        </div>
      </div>
    
    </div>
{% endblock %}
