<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style3.css')}}">
    <title> Movies </title>
</head>
<body>
    <h1> Movies you may like </h1>
    <div class="total">
        {% for val in data[name] %}
        <div class="poster">
            <!-- <p> {{ val }} </p> -->
            <img src="{{ posters[val] }}" alt="{{ val }}" style="height: 200px;">
        </div>
        {% endfor %}
    </div>
    
</body>
</html>