.poster {
    margin: 2px 5px
}

.total {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin-left: 50px;
}

body {
    text-align: center;
    background-image: url(background.jpeg);
}

h1 {
    color: chartreuse;
}

h2 {
    color: red;
}
a:hover {
    background-color: red;
}